<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075734353915-409mf305ln20kk45s9vfq7ung2v4e7ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075734353915-409mf305ln20kk45s9vfq7ung2v4e7ci</string>
	<key>API_KEY</key>
	<string>AIzaSyB1vZ4B0C8rZVA1X6gDqXBbZR-amOh-xn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1075734353915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fivefourcode.sahab</string>
	<key>PROJECT_ID</key>
	<string>sahab-475fb</string>
	<key>STORAGE_BUCKET</key>
	<string>sahab-475fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075734353915:ios:e6a493d5ff2440f71d1d5e</string>
</dict>
</plist>